@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

body{


    font-family: Poppins, Arial, Helvetica, sans-serif;
    background-image: url(midia/redrog3.jpg);
}
h1{
    
    text-align: center;
    color: #ffff;
}
h2{
    color: #ffff;
}
p{
    text-align: justify;
    background-color: rgba(112, 128, 144, 0.103);
    border-radius: 13px 13px 13px 13px;
    color: #ffff
}
a{
    background-color: rgba(112, 128, 144, 0.207);
    border-radius: 10px 10px 10px 10px;
    text-decoration: none;
    color: #ffff;
}
li{
    text-decoration: none;
    color: #00000000;
}
ul{
   color: #ffff
}
div#rogerinho :hover{
    content:;

}
nav a:hover{
    text-decoration: underline;
}
header{
    background-color: rgba(112, 128, 144, 0.103);
    border-radius: 13px 13px 13px 13px;
}
header > nav{
    text-align: center;
}
header > a{
    margin-left: 20px;
    padding: 10px;
}
div#criador{
    text-align: center;
}
